.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 80%;
  align-items: center;
  background-color: rgb(10,10,10);
  }

.pageContent {
  overflow-y: scroll;
  overflow: auto;
  flex: 1 1 80%;
}
