.toolbar {
  width: 20%;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 40px;
}

.tools {
  margin-top: 40px;
  padding-top: 20%;
  position: relative;
  display: block;
}

.tools input {
  width: 50%;
  background: transparent;
}

.tools button,
.tools input,
.tools label {
  display: block;
}
.tools input[type="range"] {
  width: 100%;
}
