.songTitle {
  width: 80%;
  float: left;
  height: 100%;
  background-color: rgb(50, 55, 68);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  color: rgb(219, 219, 217);
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.test {
  padding: 0;
  border: 1px solid rgb(36, 35, 35);
  background-color: rgb(51, 49, 49);
  height: 2.5rem;
  display: flex;
}
.list_util {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 20px;
}

.barTitle {
  padding-left: 10px;
  padding: 10px;
  background: hsl(30, 3%, 25%);
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
